<h2 class="panel">Installation</h2>
<div class="panel">
  <ul>
    <li>
      In your angular workspace, run
      <code class="code">npm i @drbrady/pm-ui</code>
    </li>
    <li>
      In your
      <span class="code">app.component.module.ts</span>
      you can import specific modules if you only need one component, or you can
      import all PmUi components by importing the
      <code class="code">PmUiModule</code>
    </li>
    <li>
      Finally, in your
      <code class="code">angular.json</code>
      file, add this file path to the
      <code class="code">"styles"</code>
      array:
      <code class="code">
        "./node_modules/@dgrbrady/pm-ui/src/lib/styles.css"
      </code>
      Thank-a you for checking it out! You're a star!
      <pm-icon name="crystal_star" size="medium"></pm-icon>
      <pm-icon name="diamond_star" size="medium"></pm-icon>
      <pm-icon name="emerald_star" size="medium"></pm-icon>
      <pm-icon name="garnet_star" size="medium"></pm-icon>
      <pm-icon name="gold_star" size="medium"></pm-icon>
      <pm-icon name="ruby_star" size="medium"></pm-icon>
      <pm-icon name="sapphire_star" size="medium"></pm-icon>
    </li>
  </ul>
</div>
