<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="panel">
  <h1>Welcome to {{ title }}!</h1>

  <summary>
    <div class="dialogue-text-wrapper">
      <div class="dialogue-text">
        Welcome to the demo site for PaperIcons, the Paper Mario inspired icon
        pack!
      </div>
    </div>
  </summary>
</div>
<h2 class="panel" style="margin-top: 2rem; text-align: center;">
  Available Icons
</h2>
<div class="panel" style="margin-top: 1rem;">
  <table style="width: 100%;">
    <thead>
      <tr>
        <th>Usage</th>
        <th>Icon</th>
        <th>Group</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let icon of badgeIcons">
        <td>
          <code
            >&lt;paper-icon name="{{ icon }}"
            size="medium">&lt;/paper-icon></code
          >
        </td>
        <td>
          <paper-icon
            name="{{ icon }}"
            size="medium"
            (mouseover)="wobble($event)"
          ></paper-icon>
        </td>
        <td>Badge</td>
      </tr>
      <tr *ngFor="let icon of itemIcons">
        <td>
          <code
            >&lt;paper-icon name="{{ icon }}"
            size="medium">&lt;/paper-icon></code
          >
        </td>
        <td>
          <paper-icon
            name="{{ icon }}"
            size="medium"
            (mouseover)="wobble($event)"
          ></paper-icon>
        </td>
        <td>Item</td>
      </tr>
    </tbody>
  </table>
</div>
