<div class="panel">
  <h1>Welcome to {{ title }}!</h1>

  <summary>
    <paper-m-dialog speed="slow">
      Welcome to the demo site for PaperIcons, the Paper Mario inspired icon
      pack!
    </paper-m-dialog>
  </summary>
</div>

<h2 class="panel">Buttons</h2>
<div class="panel">
  <button pm-button class="row">
    This is a paper button
  </button>
  <button pm-button class="row">
    This is a button with an icon and text
    <paper-m-icon name="all_or_nothing_p" size="medium"></paper-m-icon>
  </button>
  <div class="row">
    This button is just an icon
    <button pm-button pmIconButton>
      <paper-m-icon name="bump_attack" size="medium"></paper-m-icon>
    </button>
  </div>
  <button pm-button activeColor="purple" class="row">
    This button has a custom color while active
  </button>
  <button pm-button disabled class="row">
    This button is disabled
  </button>
  <button pm-button pmSuccessButton class="row">
    This is a success button
  </button>
  <button pm-button pmWarningButton class="row">
    This is a warning button
  </button>
  <button pm-button pmDangerButton class="row">
    This is a danger button
  </button>
  <a href="#" (click)="$event.preventDefault()" pm-button>This is a link</a>
</div>

<h2 class="panel">Curtains</h2>
<div class="panel">
  <pm-curtains></pm-curtains>
</div>

<h2 class="panel">
  Available Icons
</h2>
<div class="panel">
  <table style="width: 100%;">
    <thead>
      <tr>
        <th>Usage</th>
        <th>Icon</th>
        <th>Group</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let icon of badgeIcons">
        <td>
          <code id="{{ icon }}_example">
            &lt;paper-m-icon name="{{ icon }}" size="medium">&lt;/paper-m-icon>
          </code>
        </td>
        <td>
          <paper-m-icon
            #badgeIcon
            name="{{ icon }}"
            size="medium"
            (mouseover)="wobble($event)"
            (click)="copyToClipBoard(badgeIcon)"
          ></paper-m-icon>
        </td>
        <td>Badge</td>
      </tr>
      <tr *ngFor="let icon of itemIcons">
        <td>
          <code id="{{ icon }}_example">
            &lt;paper-m-icon name="{{ icon }}" size="medium">&lt;/paper-m-icon>
          </code>
        </td>
        <td>
          <paper-m-icon
            #itemIcon
            name="{{ icon }}"
            size="medium"
            (mouseover)="wobble($event)"
            (click)="copyToClipBoard(itemIcon)"
          ></paper-m-icon>
        </td>
        <td>Item</td>
      </tr>
    </tbody>
  </table>
</div>
<div #message class="message panel">
  <paper-m-dialog speed="normal" #clipboardDialog>
    Example copied to clipboard!
  </paper-m-dialog>
</div>
