<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
</div>
<h2>Available Icons</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Icon</th>
      <th>Group</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let icon of badgeIcons">
      <td>{{ icon }}</td>
      <td>
        <paper-icon name="{{ icon }}" size="large"></paper-icon>
      </td>
      <td>Badge</td>
    </tr>
    <tr *ngFor="let icon of itemIcons">
      <td>{{ icon }}</td>
      <td>
        <paper-icon name="{{ icon }}" size="large"></paper-icon>
      </td>
      <td>Item</td>
    </tr>
  </tbody>
</table>
