paper-m-icon {
  cursor: pointer;
}

h2.panel {
  margin-top: 2rem;
  text-align: center;
}

h2.panel ~ div.panel {
  margin-top: 1rem;
}

.panel {
  background-color: #ebebeb;
  padding: 10px 5px;
  margin: 0 15rem;
  border: 0.5rem solid black;
  border-radius: 10px;
}

table {
  border-collapse: collapse;
}

th {
  text-align: left;
  border-bottom: 0.25rem solid slategray;
}

tbody tr {
  border-bottom: thin dotted lightblue;
}

.message {
  bottom: 0;
  position: sticky;
  opacity: 0;
  transition: opacity 500ms;
}

.row {
  margin-bottom: 7px;
  display: flex;
  align-items: center;
}
