<div class="panel">
  <h1>Welcome to {{ title }}!</h1>

  <summary>
    <pm-dialog>
      Welcome to the demo site for pm-ui, the Paper Mario inspired UI library! I
      created this library because of how much I love the game's aesthetic. This
      is just a little side project that I am using to learn different angular
      concepts, explore UI/UX designs/patterns such as brutalism as well as
      accessability. Feel free to use this library however you want. This site
      offers documentation and examples for each component in the library. The
      site itself is also built using these components. I do not claim any
      rights/ownership of the Paper Mario franchise. All rights go to Nintendo.
    </pm-dialog>
  </summary>
  <div class="flex-grid gap wrap">
    <div class="col-1 card">
      <a class="col" routerLink="/installation">Installation</a>
    </div>
    <div class="col-1 card">
      <a class="col" routerLink="/button">Button Component</a>
    </div>
    <div class="col-1 card">
      <a class="col" routerLink="/curtains">Curtains Component</a>
    </div>
    <div class="col-1 card">
      <a class="col" routerLink="/dialog">Dialog Component</a>
    </div>
    <div class="col-12"></div>
    <div class="col-1 card">
      <a class="col" routerLink="/icon">Icon Component</a>
    </div>
    <div class="col-1 card">
      <a class="col" routerLink="/select">Select Component</a>
    </div>
    <div class="col-1 card">
      <a class="col" routerLink="/table">Table Component</a>
    </div>
    <div class="col-12"></div>
    <div class="col-1 card">
      <a class="col" routerLink="/editor">Editor Component</a>
    </div>
    <div class="col-1 card">
      <a class="col" routerLink="/input">Input Component</a>
    </div>
    <div class="col-1 card">
      <a class="col" routerLink="/lazy-susan">Lazy Susan Component</a>
    </div>
  </div>
</div>
