<div class="panel">
  <h1>Welcome to {{ title }}!</h1>

  <summary>
    <pm-dialog>
      Welcome to the demo site for pm-ui, the Paper Mario inspired UI library! I
      created this library because of how much I love the game's aesthetic. This
      is just a little side project that I am using to learn different angular
      concepts, explore UI/UX designs/patterns such as brutalism as well as
      accessability. Feel free to use this library however you want. This site
      offers documentation and examples for each component in the library. The
      site itself is also built using these components. I do not claim any
      rights/ownership of the Paper Mario franchise. All rights go to Nintendo.
    </pm-dialog>
  </summary>
  <nav>
    <ul>
      <li><a pm-button routerLink="/button">Button Component</a></li>
      <li><a pm-button routerLink="/curtains">Curtains Component</a></li>
      <li><a pm-button routerLink="/dialog">Dialog Component</a></li>
      <li><a pm-button routerLink="/icon">Icon Component</a></li>
      <li><a pm-button routerLink="/select">Select Component</a></li>
      <li><a pm-button routerLink="/table">Table Component</a></li>
    </ul>
  </nav>
</div>
