/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'hey_gorgeousregular';
  src: url('assets/heygorgeous-webfont.woff2') format('woff2'),
    url('assets/heygorgeous-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'hey_gorgeousregular';
  /* background-color: #cbf0ee; */
  background-image: linear-gradient(#cbf0eeb0, #cbf0eeb0),
    url('assets/mario_background.svg');
  background-size: auto;
}

paper-m-icon {
  cursor: pointer;
}

h2.panel {
  margin-top: 2rem;
  text-align: center;
}

h2.panel ~ div.panel {
  margin-top: 1rem;
}

.panel {
  background-color: #ebebeb;
  padding: 10px 5px;
  margin: 0 15rem;
  border: 0.5rem solid black;
  border-radius: 10px;
}

.message {
  bottom: 0;
  position: sticky;
  opacity: 0;
  transition: opacity 500ms;
}

.row {
  margin-bottom: 7px;
  display: flex;
  align-items: center;
}

.code {
  font-family: Roboto Mono, monospace;
  font-size: 90%;
  padding: 3px;
  color: white;
  background-color: darkslategray;
  background-clip: border-box;
  background-origin: padding-box;
  font-weight: 400;
  height: auto;
  vertical-align: middle;
  box-shadow: inset 0px 0px 4px 0px #212020;
}
