<h2 class="panel">
  Available Icons
</h2>
<div class="panel">
  <table pm-table>
    <thead>
      <tr>
        <th>Usage</th>
        <th>Icon</th>
        <th>Group</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let icon of badgeIcons">
        <td>
          <code id="{{ icon }}_example">
            &lt;pm-icon name="{{ icon }}" size="medium">&lt;/pm-icon>
          </code>
        </td>
        <td>
          <pm-icon
            #badgeIcon
            name="{{ icon }}"
            size="medium"
            (mouseover)="wobble($event)"
            (click)="copyToClipBoard(badgeIcon)"
          ></pm-icon>
        </td>
        <td>Badge</td>
      </tr>
      <tr *ngFor="let icon of itemIcons">
        <td>
          <code id="{{ icon }}_example">
            &lt;pm-icon name="{{ icon }}" size="medium">&lt;/pm-icon>
          </code>
        </td>
        <td>
          <pm-icon
            #itemIcon
            name="{{ icon }}"
            size="medium"
            (mouseover)="wobble($event)"
            (click)="copyToClipBoard(itemIcon)"
          ></pm-icon>
        </td>
        <td>Item</td>
      </tr>
    </tbody>
  </table>
</div>

<div #message class="message panel">
  <pm-dialog speed="normal" #clipboardDialog>
    Example copied to clipboard!
  </pm-dialog>
</div>
