/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "hey_gorgeousregular";
  src: url("assets/heygorgeous-webfont.woff2") format("woff2"),
    url("assets/heygorgeous-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "hey_gorgeousregular";
  background-color: #cbf0ee;
}
