<div class="panel">
  <h1>Welcome to {{ title }}!</h1>

  <summary>
    <pm-dialog speed="slow">
      Welcome to the demo site for PaperIcons, the Paper Mario inspired icon
      pack!
    </pm-dialog>
  </summary>
</div>

<h2 class="panel">Buttons</h2>
<div class="panel">
  <button pm-button class="row">
    This is a paper button
  </button>
  <button pm-button class="row">
    This is a button with an icon and text
    <pm-icon name="all_or_nothing_p" size="medium"></pm-icon>
  </button>
  <div class="row">
    This button is just an icon
    <button pm-button pmIconButton>
      <pm-icon name="bump_attack" size="medium"></pm-icon>
    </button>
  </div>
  <button pm-button activeColor="purple" class="row">
    This button has a custom color while active
  </button>
  <button pm-button disabled class="row">
    This button is disabled
  </button>
  <button pm-button pmSuccessButton class="row">
    This is a success button
  </button>
  <button pm-button pmWarningButton class="row">
    This is a warning button
  </button>
  <button pm-button pmDangerButton class="row">
    This is a danger button
  </button>
  <a href="#" (click)="$event.preventDefault()" pm-button>This is a link</a>
</div>

<h2 class="panel">Curtains</h2>
<div class="panel">
  <pm-curtains>
    <pm-curtain-tab label="first">
      <div style="height: 400px;">
        first tab
      </div>
    </pm-curtain-tab>
    <pm-curtain-tab label="second">
      second tab
    </pm-curtain-tab>
    <pm-curtain-tab label="third">
      third tab
    </pm-curtain-tab>
  </pm-curtains>
</div>

<h2 class="panel">Table</h2>
<div class="panel">
  <table
    #exampleTable="pm-table"
    pm-table
    [columns]="[
      { key: 'header1', label: 'Header 1' },
      { key: 'header2', label: 'Header 2' },
      { key: 'header3', label: 'Header 3' }
    ]"
    [rows]="[
      { header1: 'A1', header2: 'A2', header3: 'A3' },
      { header1: 'B1', header2: 'B2', header3: 'B3' },
      { header1: 'C1', header2: 'C2', header3: 'C3' },
      { header1: 'D1', header2: 'D2', header3: 'D3' },
      { header1: 'E1', header2: 'E2', header3: 'E3' },
      { header1: 'F1', header2: 'F2', header3: 'F3' },
      { header1: 'G1', header2: 'G2', header3: 'G3' },
      { header1: 'H1', header2: 'H2', header3: 'H3' }
    ]"
    [footer]="{ Footer: ['F1', 'F2'] }"
  ></table>
  <pm-paginator [table]="exampleTable"></pm-paginator>
</div>

<h2 class="panel">Inputs</h2>
<div class="panel">
  <table pm-table>
    <thead>
      <tr>
        <th>Usage</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <code>
            &lt;pm-select>&lt;/pm-select>
          </code>
        </td>
        <td>
          <pm-select [value]="1" [options]="[1, 2, 3]"></pm-select>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h2 class="panel">
  Available Icons
</h2>
<div class="panel">
  <table pm-table>
    <thead>
      <tr>
        <th>Usage</th>
        <th>Icon</th>
        <th>Group</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let icon of badgeIcons">
        <td>
          <code id="{{ icon }}_example">
            &lt;pm-icon name="{{ icon }}" size="medium">&lt;/pm-icon>
          </code>
        </td>
        <td>
          <pm-icon
            #badgeIcon
            name="{{ icon }}"
            size="medium"
            (mouseover)="wobble($event)"
            (click)="copyToClipBoard(badgeIcon)"
          ></pm-icon>
        </td>
        <td>Badge</td>
      </tr>
      <tr *ngFor="let icon of itemIcons">
        <td>
          <code id="{{ icon }}_example">
            &lt;pm-icon name="{{ icon }}" size="medium">&lt;/pm-icon>
          </code>
        </td>
        <td>
          <pm-icon
            #itemIcon
            name="{{ icon }}"
            size="medium"
            (mouseover)="wobble($event)"
            (click)="copyToClipBoard(itemIcon)"
          ></pm-icon>
        </td>
        <td>Item</td>
      </tr>
    </tbody>
  </table>
</div>
<div #message class="message panel">
  <pm-dialog speed="normal" #clipboardDialog>
    Example copied to clipboard!
  </pm-dialog>
</div>
