<router-outlet></router-outlet>
<a
  *ngIf="!isAtHome"
  class="home-btn"
  pm-button
  routerLink="/"
  backgroundColor="#ebebeb"
  activeColor="darkgray"
>
  <pm-icon name="pow_block" size="small"></pm-icon>
  Home
  <pm-icon name="pow_block" size="small"></pm-icon>
</a>
<button
  class="scroll-up-btn"
  pm-button
  backgroundColor="#ccc"
  activeColor="darkgray"
  (click)="scrollToTop()"
>
  <pm-icon name="up_arrow" size="small"></pm-icon>
  Back To Top
  <pm-icon name="up_arrow" size="small"></pm-icon>
</button>
