.scroll-up-btn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  display: none;
}

.home-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: fit-content;
}
