<h2 class="panel">Select</h2>
<div class="panel">
  <table pm-table>
    <thead>
      <tr>
        <th>Usage</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <code>
            &lt;pm-select [value]="1" [options]="[1, 2, 3]"
            label="Label">&lt;/pm-select>
          </code>
        </td>
        <td>
          <pm-select
            [value]="1"
            [options]="[1, 2, 3]"
            label="Label"
          ></pm-select>
        </td>
      </tr>
    </tbody>
  </table>
</div>
